<div>
  <div class="pull-right">
      <button class="btn btn-outline-danger btn-sm" (click)="logOut()">Log Out</button>
  </div>
  <a data-toggle="collapse" (click)="showHideSideBar()">
    <i class="fa fa-bars fa_custom fa-2x"></i>
  </a>
  <hr/>
  <nav class="navbar navbar-expand-sm bg-light">
        
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>  
  </nav>
</div>

